@import "tailwindcss";

:root {
  /* --background: #0d1117; */
  --background-chrome: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  );
  --background-safari: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  --foreground: #f1f5f9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-saira: var(--font-saira);
}

body {
  color: var(--foreground);
  font-family: var(--font-saira);
  background: var(--background-chrome);
  background: var(--background-safari);
}
